# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some of the popular languages Data Scientists use
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* Simple arithmetic expression

Some of the popular languages Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn

| Data Science Tools |
|--------------------|
| RStudio |
| Jupyter Notebooks |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Jacob Holm